.contact-section {
    display: flex;
    justify-content: center;
    margin-top: 3em;
    margin-bottom: 3em;
}

.contact-background_image {
    background-image: url('../pictures/contact-small.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--accent-color);
    /* flex-shrink 3 so that it shrinks faster than contact-form */
    flex-shrink: 3;
    flex-basis: 500px;
    position: relative;
    height: auto;
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 1.5em 0.5em;
    background-color: white;
    flex-shrink: 1;
    flex-basis: 500px;
}

form {
    display: flex;
    flex-direction: column;
}

/* Class to add on form when send button is clicked */
.form-invisible {
    visibility: hidden;
} 

/*****************************************************************/
/*---- EXTERNAL CODE from CodePen AzizBooker: -------------------*/
/*****************************************************************/

/* Code for 'typewriter-cursor' */
#contact-heading {
    letter-spacing: 0.15rem;
    border-right: 0.1em solid #000;
}

.typing {
    animation: blink 0.5s step-end infinite alternate;
}

/* The blinking type writer cursor effect */
@keyframes blink {
    50% {border-color: transparent;}
}

/*****************************************************************/
/*---------------------------------------------------------------*/
/*****************************************************************/


.contact-info {
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
}

.contact-div {
    display: flex;
    flex-direction: column;
    margin-top: 1em;
    font-size: 1.1rem;
}

input, textarea {
    font-size: 1rem;
    max-width: 100%;
    border: 1px solid var(--accent-color);
    margin-top: 0.1em;
}

input {
    padding: 0.2em;
}

.send-button {
    padding: 0.5em 2em;
    margin: 1.2em auto;
    border: 3px solid var(--accent-color);
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
}

.contact-personal_info {
    display: flex;
    flex-direction: column;
    width: fit-content;
    padding: 2.5em 0 0 1.8em;
    color: #8c7981;
    position: absolute;
    top: 0;
    font-weight: bold;
    rotate: 17deg;
}

/* Is displayed shown on smaller screens */
.contact-personal_info_hidden {
    display: none;
}

.modal-hidden {
    display: none;
}

/* To make background overlay */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 2em;
    border: 3px solid var(--accent-color);
    width: 50%;
    position: relative;
    text-align: center;
}

.close {
    color: black;
    position: absolute;
    top: 0.2em;
    right: 0.3em;
    font-size: 1.8rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
}

.close:hover,
.close:focus {
    text-decoration: none;
    cursor: pointer;
    padding: 0.4em;
    border: 1px solid var(--accent-color);
}

/* ================================== 
             START MEDIA QUERY
=====================================*/

@media (max-width: 680px) {
    main {
        background-image: url('../pictures/contact-small.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        justify-content: center;
    }

    .contact-section {
        margin: 1em 0;
        width: 96%;
    }

    .contact-background_image {
        background: none;
        flex-basis: 0;
    }

    .contact-form {
        background-color: rgba(255, 255, 255, 0.8);
        border-radius: 20px;
        padding: 1.5em 0em;
    }    
   
    .contact-info {
        font-size: 1.1rem;
    }

    .contact-div {
        font-size: 1rem;
        font-weight: bold;
        align-items: center;
    }

    input, textarea {
        max-width: 90%;
    }

    /* Hidden on smaller screens */
    .contact-personal_info {
        display: none;
    }

    /* Shown instead of .contact-personal_info, placed below send button */
    .contact-personal_info_hidden {
        display: flex;
        flex-direction: column;
        font-weight: bold;
    }
}