.project-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-section h1 {
    text-align: center;
}

.project-text_right,
.project-text_left {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 2em 0.5em;
    border: 2.5px dotted var(--accent-color);
    padding: 0.8em;
    border-radius: 10px;
    gap: 1em;
}

/* row-reverse to get pictures on the right side to be above text when wrapping */
.project-text_left {
    flex-direction: row-reverse;
}

.project-text {
    max-width: 580px;
    padding: 1em;
}

.project-img {
    border-radius: 10px;
}

.project-section ul {
    margin-bottom: 2em;
}

.mortage-img, .dashboard-img {
    max-width: 365px;
    height: 100%;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
}

.mortage-text, .dashboard-text {
    max-width: 480px;
}

.mortage-link, .dashboard-link {
    font-size: 1.3rem;
    color: black;
    text-decoration: underline black 1px;
    text-underline-offset: 0.1em;
}


/* ================================== 
             START MEDIA QUERY
=====================================*/

@media (max-width: 680px) {
    
    .project-section h1 {
        border-bottom: 2.5px dotted var(--accent-color);
        padding-bottom: 0.7em;
        font-size: 1.8rem;
    }

    .project-section h2 {
        text-align: center;
    }

    /* Textdecoration in span hidden on small screens */
    .project-section h2 span {
        display: none;
    }

    .project-section ul {
        padding: 0 1.2em;
    }

    .project-section li, .project-section p {
        font-size: 1.1rem;
    }

    .project-img {
        scale: 0.8;
    }

    .project-text {
        padding: 0.2em;
    }

    .project-text_right,
    .project-text_left {
        margin: 1em auto;
        border: none;
        border-bottom: 2.5px dotted var(--accent-color);
        border-radius: 0;
        padding: 0.2em;
    }

    .mortage-link, .dashboard-link {
        font-size: 1.1rem;
    }
}